/* Rising Desks Page Styles */

/*thicker */
.ticker-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 15px;
 }
 
 .ticker {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  padding-left: 100%;
  animation: ticker 30s linear infinite;
 }
 
 .ticker span {
  display: inline-block;
  padding-right: 20px;
 }
 
 @keyframes ticker {
   0% {
     transform: translateX(100%);
  }
   100% {
     transform: translateX(-100%);
  }
 }


/*flyer*/
.flyer{
  width:100%;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.flyer img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.sale-text{
  position: absolute;
  top: 40%;
  left: 40%;
}

.sale-text h2{
  color: #232F3E;
  font-size: 2.2rem;
}
.sale-text span{
  background-color: #232F3E;
  color: white;
  font-size: 2.2rem;
}

#rising-desks {
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    }
    
    #box,#box-1,#box-2,#box-3,#box-4,#box-5,#box-6,#box-7,#box-8,#box-9,#box-10,#box-11,#box-12,#box-13,#box-14,#box-15,#box-16{
      
      height: 470px;
      width: 290px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      transition: 1s;
      
    
    }
  
    .black-back img{
      background-color: rgb(63, 62, 62);
    }
    
    .box-img-container{
      height: 60%;
      padding: 10px;
      background-color: gainsboro;
      overflow: hidden
    
    }
    
    .box-img-container img{
      height: 100%;
      width: 100%;
    }
    
    .box-details-container{
      height: 25%;
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      align-items: flex-start;
    }
    
    .box-details-container p{
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 13px;
    margin-top: 15px;
    font-weight: 600;
    }
    
    .product-name{
      color: rgb(117, 116, 116);
      font-size: 1.1rem;
      display: flex;
      justify-content: flex-start;
      padding: 10px 0 10px 16px;
      letter-spacing: 1px;
     
    
    }
    
    .line{
      padding: 1px;
      background: rgb(117, 116, 116);
      width: 80%;
      margin-left: 15px;
    }
    
    .desk-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      .desk {
        width: 26%;
        margin-bottom: 20px;
      }
      
      .desk img {
        width: 100%;
      }
      
      .desk:hover{
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      
      
    
      /*Box radios*/
    
    .radio-group {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 0 10px;
    }
    
    .radio {
      position: relative;
      display: inline-block;
      margin: 0 16px;
    }
    
    .radio:hover{
        cursor: pointer;
        border-style: 1px solid black;
    }
    
    .radio input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }
    
    .red .checkmark {
      background-color: black;
      border: 2px solid gainsboro;
    }
    
    .white .checkmark {
      background-color: white;
      border: 2px solid gainsboro;
    }
    
    .brown .checkmark {
      background-color: brown;
      border: 2px solid gainsboro;
    }
    
    .radio input:checked ~ .checkmark {
      border: 2px solid slateblue;
    }
    
    
    
    .add-to-cart {
      background-color: white;
      color: black;
      padding: 10px;
      border: 1px solid black;
      cursor: pointer;
      width: 150px;
    }
    
    .add-to-cart:hover{
      background-color: black;
      color: white;
    }
    
    .lower-cart{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      gap: 15px;
    }
    
    .lower-cart i:hover{
      color: red;
      cursor: pointer;
      
    }
    